nav ul div li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  /* Navigation */
  nav {
    background-color: #1b1d1d;
    /* Light blue */
    display: flex;
    
  } 
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin:0  50px 50px;
    font-size:larger;
    
  }
  div li{
    float:left;
    
  }
  nav a {
    color: rgb(160, 148, 148);
    text-decoration: none;
  }
  
  ul div li {
    float: left;
    padding-left: 70px;
    list-style: none;
  }

  .main-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
  }

  .section-one, .section-two {

    display: flex;
    margin: 2em 0;
   
  }

  body {

    background: linear-gradient(#DBA895, #3D3A41) 
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  p {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }

img{
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: .5em;
}

 #music, #sports, #food, #fitness, #drinks, #hobbies, #arts, #health,#music-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  text-decoration: none;
  color: black;

 }
 

  