body {

    background: #F9E8D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blank-div {


    height: 15em;
    width: auto;
}

.hero-main-page {

    color: rgb(206, 191, 191);
    text-align: center;
}

.events-change {

    display: flex;
    
}

#host-event, #find-event {

    margin: 1em;
    background: black;
    border-radius: .25em;
    color: white;
    width: 5em;
    text-decoration: none;

}


nav ul div li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  /* Navigation */
  nav {
    background-color: #1b1d1d;
    /* Light blue */
    display: flex;
    align-items: flex-end;
  } 
 
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin:0  50px 50px;
    font-size:larger;
  }
  div li{
    float:left;
  }
  nav a {
    color: rgb(160, 148, 148);
    text-decoration: none;
  }
  
  ul div li {
    float: left;
    padding-left: 70px;
  }
  